# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

node_modules/
.vscode/

coverage/
coverage.json
typechain/
typechain-types/

# Hardhat files
artifacts/

# LayerZero specific files
.layerzero/

# pnpm
pnpm-error.log

lib/